# Node
node_modules/
dist/
build/
.cache/

# Environment files
.env*
!.env.example

# Logs
npm-debug.log
yarn-error.log
*.log

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
venv/
pip-log.txt

# IDEs
.vscode/
.idea/

# Optional local files
local-config.json
